.grid-container {
  margin: 20px;
  min-height: 100vh;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.full-width {
  width: 100%;
}

.buttons {
  text-align: right;
}

.btn {
  margin: 20px;
}

.progress-bar {
  height: 15px;
  width: auto;
  color: green;
}
