<div class="grid-container">
  <h1 class="mat-h1">Import File</h1>

  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>File Upload</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <h2>File Upload</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    [value]="selectedFile?.name"
                    placeholder="No file chosen"
                    readonly
                  />
                  <input
                    #fileInput
                    type="file"
                    (change)="onFileSelected($event)"
                    style="display: none"
                  />
                </mat-form-field>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  [style.width]="uploadProgress + '%'"
                ></div>
                <div class="progress-text">{{ uploadProgress }}%</div>
              </div>
              <div class="row buttons">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="openFileInput()"
                  class="btn"
                >
                  Browse
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  class="btn"
                >
                  Upload
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
