<form [formGroup]="formGroup" class="login-form" (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Demo</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username" />
            <mat-error
              *ngIf="formGroup.controls['username'].hasError('required')"
            >
              This is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
            />
            <mat-error
              *ngIf="formGroup.controls['password'].hasError('required')"
            >
              This is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
