.auth-background {
  min-height: 100vh;
  width: 100vw;
  background: url("../../../assets/images/auth-background.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
